<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shousi.web.mapper.PictureCategoryMapper">

    <resultMap id="BaseResultMap" type="com.shousi.web.model.entity.PictureCategory">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="pictureId" column="pictureId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectCategoryStatistics" resultType="com.shousi.web.model.vo.space.analyze.SpaceCategoryAnalyzeResponse">
        SELECT
        c.categoryName AS name,
        COUNT(pc.pictureId) AS count,
        SUM(p.picSize) AS totalSize
        FROM picture_category pc
        INNER JOIN picture p ON pc.pictureId = p.id
        INNER JOIN category c ON pc.categoryId = c.id
        WHERE pc.pictureId IN
        <foreach collection="pictureIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY c.id
    </select>

    <select id="selectCategoryName" resultType="java.lang.String">
        SELECT c.categoryName AS name
        FROM picture_category pc
                 INNER JOIN category c ON pc.categoryId = c.id
        WHERE pc.pictureId = #{pictureId}
    </select>


    <sql id="Base_Column_List">
        id,categoryId,pictureId
    </sql>
</mapper>
